.border_bottom_tag_line {
    border: 1.5px solid #1E2D3D;
}

.border_tag_right {
    border-right: 1.5px solid #1E2D3D;
}

.border_tag_left {
    border-left: 1.5px solid #1E2D3D;
}

.text_color_white
{
    color: #FFFFFF;
}

.border_bottom_active
{
    border-bottom: 3px solid #FEA55F;
}